body {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #05070a;
}

h2 {
  font-size: 30px;
}
a{
  transition: all ease 300ms; 
}
a:hover{
  transition: all ease 300ms;
  text-decoration: none;
}
p{
  font-size: 16px;
}
.row-filed {
  .input-field {
    width: 48%;
  }
}
.text-bold{
  font-weight: bold;
}
.input-group {
  width: 100%;
  margin-bottom: 20px;
  label {
    display: block;
    margin-bottom: 10px;
  }
  input,
  select,
  textarea {
    // border: 1px solid #cdcdce;
    background: #fff;
    color: #696a6c;
    padding: 10px;
    height: 40px;
    outline: none;
    width: 100%;
  }
  textarea {
    height: 100px;
  }
}

.input-field-note {
  font-style: italic;
  font-size: 12px;
}

// common
.main-menu {
  background: #1b2534;
  color: #fff;
  a {
    color: #fff !important;
    font-weight: bold;
    font-size: 18px;
    padding: 0 15px 0 15px;
    &:hover,&.router-link-exact-active{
      color: #06b7b4 !important;
    }
  }
}

.main-content {
  background: #f7f7f7;
  font-size: 16px;
}

.block {
  margin-bottom: 20px;
  h2 {
    margin-bottom: 10px;
  }
}

.w-full {
  width: 100%;
}

.center {
  text-align: center;
}

.margin-auto {
  margin: 0 auto;
}
.mt-100 {
  margin-top: 100px;
}

.pl-100 {
  padding-left: 100px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}

.p-10 {
  padding: 10px;
}
.width-30 {
  width: 30%;
}

.pb-50 {
  padding-bottom: 50px;
}
.relative {
  position: relative;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-100 {
  margin-bottom: 100px;
}
.text-base {
  font-size: 16px;
}
.text-white {
  color: #fff;
}
.absolute {
  position: absolute;
}
.border-bottom-blue {
  border-bottom: 4px solid #06b7b4;
}
.p-50 {
  padding: 50px;
}
.v-text-field--outlined, .v-text-field--solo, .v-btn{
  border-radius: 0 !important;
}

.head-line {
  font-size: 38px;
  line-height: 42px;
  font-weight: 800;
  color: #33424f;
  margin-top: 10px;
}
.sub-header {
  font-size: 26px;
  font-weight: 700;
  margin-top: 15px;
}
.border-gray {
  border: 1px solid #ebedf0;
}

.br-0 {
  border-radius: 0px !important;
}
@media (min-width:1904px) {
  .container {
     max-width:1140px !important;
   }
 }
 @media (min-width: 1264px){
  .container {
    max-width:1140px !important;
  }
 }